<%= render "layouts/menuLoggedIn" %>
<h1>Konto</h1>

<div id="container">
    <p>Användarnamn: <%= @auth.username %></p>
    <p>E-postadress: <%= @auth.email %></p>
    <p>Rättighetstyp: Användare</p>
</div>



