<% if @auth.rights == 1 %>
    <%= render "layouts/menuLoggedInAdmin" %>
<% else %>
    <%= render "layouts/menuLoggedIn" %>
<% end %>

<h1>Konto</h1>

<div id="container">
    <p>Anv채ndarnamn: <%= @auth.username %></p>
    <p>E-postadress: <%= @auth.email %></p>
    
    <% if @auth.rights == 1 %>
        <p>R채ttighetstyp: Admin</p>
    <% else %>
        <p>R채ttighetstyp: Anv채ndare</p>
    <% end %>
</div>



