<div id="menu">
    <div class="menuTab">
        <%= link_to "START", controller: "welcome", action: "index" %>
    </div>
    <div class="menuTab">
        <%= link_to "API-NYCKLAR", controller: "apikeys", action: "index" %>
    </div>
    <div id="menuLogin">
        <div class="menuTab">
            <% user = currentAuth.username %>
            <%= link_to user, controller: "welcome", action: "account" %>
        </div>
        <div class="menuTab">
            <%= link_to "LOGGA UT", logout_path %>
        </div>
    </div>
</div>
